.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.positive{
  color: rgb(97, 192, 138)
}
 .negative{
   color: red;
 }

 .transaction{
   display: grid;
   grid-template-columns: 1fr 1fr;
   box-shadow: 0 4px 10px 0px #777;
   margin-bottom: 10px;
   padding: 10px;
 }

 #app{
   background-color: rgb(241, 241, 241);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   height: 100vh;
   display: grid;
   grid-gap: 60px;
grid-template-columns: 2fr 1fr;
grid-template-rows: 1fr 2fr 2fr;
   grid-template-areas: 
   "h h"
   "t c"
   "t b"
 }
input{
  width: 80%;
  margin-bottom: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid teal;;
  background-color: rgb(241, 241, 241);
  font-size:20px;
}
#transactionsList{
  grid-area: t;
  padding-left: 30px
}

#balance{
  grid-area: h;
  text-align: center;
  padding-top: 50px;
}

#transactions{
  grid-area: c;
  padding-right: 30px
}

#breakdown{
  grid-area: b
}
